@use "../helper/var" as *;

section.projects {
  padding: 10em 0 5em 0;

  .projects-container {
    @extend %d-flex-column;
    width: 90%;
    margin: 0 auto;
    gap: 3em;

    .projects-items {
      position: relative;

      .mac {
        position: relative;

        .projects-img {
          position: absolute;
          width: 80%;
          left: 50%;
          bottom: 10.5%;
          transform: translateX(-50%);
          height: 85%;
          z-index: -1;

          img {
            position: absolute;
            opacity: 0;
            transition: 1s ease;
          }

          img.active {
            opacity: 1;
          }
        }
      }

      .iphone {
        position: absolute;
        right: -1em;
        bottom: -1em;
        height: 80%;
        width: 25%;
        z-index: 99;

        .projects-img {
          width: 92%;
          height: 90%;
          position: absolute;
          bottom: 3%;
          left: 3.5%;
          z-index: -1;

          img {
            position: absolute;
            opacity: 0;
            transition: 1s ease;
          }

          img.active {
            opacity: 1;
          }
        }
      }
    }

    .projects-botton {
      @extend %d-flex-j-between;
      align-items: center;
      a {
        @extend %a-links;
        cursor: pointer;
      }

      a:last-child {
        &:hover {
          color: var(--accent);

          &::after {
            bottom: -14px;
            opacity: 1;
          }
        }
      }

      a.active {
        color: var(--accent);

        &::after {
          bottom: -14px;
          opacity: 1;
        }
      }
    }
  }
}
