@media (min-width: 1440px) {
  body {
    font-size: 20px;
  }

  .hero {
    padding: 2em 0 0 0;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 28px;
  }

  .hero {
    padding: 2em 0 0 0;
  }
}

@media (max-width: 990.98px) {
  header {
    position: relative;
    z-index: 10;
  }

  .header-container .burger-icon {
    display: flex;
  }

  .header-container .nav {
    position: absolute;
    flex-direction: column;
    background: var(--box-background);
    top: 100%;
    right: 0;
    width: 50%;
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 0.3s ease;
  }
  .header-container .nav.active {
    height: 280px;
  }

  .header-container .nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }

  .header-container .nav ul a {
    font-size: 1.3em;
  }

  .header-container .nav button {
    margin-bottom: 2em;
    background-color: var(--background-color);
  }
}

@media (max-width: 450.98px) {
  footer .footer-container {
    justify-content: center;
  }
}

@media (max-width: 375.98px) {
  footer .footer-container .copy-right p {
    font-size: 0.9em;
  }
}

@media (max-width: 350px) {
  footer .footer-container .copy-right p {
    font-size: 0.7em;
  }
}
