@use "../../../helper/var" as *;

.contact-container {
  display: flex;
  width: 85%;
  margin: 5rem auto;

  .send-mail {
    width: 50%;
    max-width: 750px;
    background: var(--box-background);
    border-radius: 2rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0 0 10px var(--text-color);

    .complite-message,
    .error-message {
      position: fixed;
      left: -100%;
      top: 5%;
      padding: 1em;
      display: flex;
      gap: 1em;
      align-items: center;
      min-width: 250px;
      border-radius: 0.5em;
      border: 2px solid var(--accent);
      background: var(--box-background);
      transition: 0.3s ease;
      z-index: 2;

      i {
        font-size: 1.5em;
        color: var(--accent);
      }

      &.active {
        left: 2%;
      }
    }

    .error-message {
      border: 2px solid var(--error-color);

      i {
        color: var(--error-color);
      }
    }

    .header {
      h1 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin: 0 0 1rem 0;
        color: var(--accent);
      }

      p {
        letter-spacing: 0.8px;
        line-height: 1.5;
      }
    }

    .form {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        .user-box {
          position: relative;
          width: 100%;

          input,
          textarea {
            width: 100%;
            height: 2.5rem;
            padding: 10px 0;
            color: var(--text-color);
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid var(--accent);
            outline: none;
            background: transparent;
            transition: 0.3s ease;
            overflow: hidden;
            resize: none;

            &:focus ~ label,
            &:valid ~ label {
              top: -26px;
              left: 0;
              color: var(--accent);
              font-size: 12px;
            }
          }

          textarea:focus {
            height: 8rem;
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: var(--text-color);
            pointer-events: none;
            transition: 0.5s;
            letter-spacing: 1px;
          }
        }

        button {
          @extend %buttons;
          padding: 0.9em 2em;
          background-color: var(--background-color);
        }
      }
    }
  }

  .contact-info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-info-cont {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .info-bx {
        display: flex;
        gap: 2rem;
        align-items: center;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background: linear-gradient(
            20deg,
            var(--box-background),
            transparent
          );

          i {
            font-size: 1.5rem;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            letter-spacing: 1px;
          }

          a {
            @extend %a-links;
            color: var(--accent);
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
