@use "../../../helper/var" as *;

section.hero {
  height: calc(100dvh - 100px);
  padding: 5em 0;

  .hero-container {
    @extend %d-flex-j-center;
    position: relative;
    height: 100%;

    .circle {
      @extend %d-flex-j-center-a-center;
      position: absolute;
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      right: 25%;
      top: 10%;
      animation: circle 10s linear infinite;
      z-index: 1;

      p {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);

        span {
          position: absolute;
          left: 50%;
          top: 0;
          transform-origin: 0 100px;
          font-family: monospace;
          text-shadow: 0 0 10px var(--text-color), 0 0 5px var(--text-color),
            0 0 20px var(--text-color), 0 0 10px var(--text-color),
            0 0 30px var(--text-color), 0 0 0px var(--text-color);
        }
      }
    }

    .info {
      @extend %d-flex-column-j-center;
      width: 100%;
      height: fit-content;
      gap: 2em;
      width: 80%;
      margin: 0 auto;
      .title {
        @extend %d-flex-column-j-center;
        letter-spacing: 10px;
        h1 {
          font-size: clamp(3rem, -0.057rem + 10.0714vw, 10.25rem);
          margin: 0;
          font-weight: 900;
          color: var(--accent);
          font-style: italic;
          font-family: "Protest Guerrilla", sans-serif;
          width: fit-content;
          z-index: 1;
        }
      }

      .text {
        width: 35%;
        text-align: center;

        p {
          font-size: 1.5em;
          font-weight: 500;
          color: var(--accent);
        }
      }
    }
  }
}

@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
