@use "../helper/var" as *;

.header-container {
  @extend %d-flex-j-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  position: relative;

  .logo {
    width: 50px;
    img {
      object-fit: unset;
    }
  }

  .burger-icon {
    display: none;
    position: relative;
    width: 3em;
    height: 0.7em;
    cursor: pointer;
    z-index: 99999;
    margin-right: 0.5em;

    .lines {
      width: 80%;
      height: 0.2em;
      background-color: var(--accent);
      border-radius: 0.2em;
      transition: 0.3s ease;
      position: absolute;

      &::after {
        content: "";
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 50%;
        background-color: var(--text-color);
        top: 0;
        position: absolute;
        transition: 0.2s ease;
      }

      &.line-one::after {
        left: -20%;
      }

      &.line-two::after {
        right: -20%;
      }

      &.line-two {
        top: 0.5em;
        left: 0;
      }

      &.line-one {
        top: 0;
        left: 20%;
      }
    }

    &.active {
      .lines {
        left: 10%;
        top: 0.1em;
        &::after {
          opacity: 0;
          visibility: hidden;
        }

        &.line-one {
          transform: rotate(45deg);
        }

        &.line-two {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .nav {
    @extend %d-flex-align-center;
    gap: 2em;

    ul {
      @extend %d-flex;
      list-style: none;
      gap: 2em;
      a {
        @extend %a-links;

        &:hover {
          color: var(--accent);

          &::after {
            bottom: -14px;
            opacity: 1;
          }
        }
      }
    }

    button {
      position: relative;
      @extend %buttons;
      overflow: hidden;

      .contact-link {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: var(--box-background);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6em;
        transition: 0.3s ease;
        a {
          @extend %a-links;
          font-size: 1.6rem;
          transition: 0.6s ease;
          &::after {
            display: none;
          }

          &:hover {
            color: var(--accent);
          }
        }
      }

      &:hover {
        .contact-link {
          top: 0;
        }
      }
    }
  }
}
