@use "../../../helper/var" as *;

.services {
  margin: 5em 0;
  .services-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    .title {
      h1 {
        @extend %sec-titles;
      }
    }

    .services-bx {
      display: flex;
      flex-direction: column;
      border-top: 2px solid var(--box-background);
      border-bottom: 2px solid var(--box-background);

      .service:nth-child(1) {
        border-bottom: 2px solid var(--box-background);
      }

      .service {
        display: flex;
        gap: 3em;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em 1em;

        .title {
          display: flex;
          gap: 1.5em;
          align-items: center;

          h3 {
            font-size: 1.6em;
            color: var(--accent);
          }

          h2 {
            font-size: 2em;
          }
        }

        p {
          font-size: 1.3em;
          width: 50%;
          letter-spacing: 0.5px;
          line-height: 1.5em;
        }

        a {
          width: 4em;
          height: 4em;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 2px dashed var(--accent);
          border-radius: 50%;
          text-decoration: none;

          i {
            font-size: 1.5em;
            color: var(--accent);
          }
        }
      }
    }
  }
}
